In [27]:
import pandas as pd
# import splinter and beautiful soup
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

In [10]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] -

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 94.0.4606
[WDM] - Get LATEST driver version for 94.0.4606
[WDM] - Driver [C:\Users\datht\.wdm\drivers\chromedriver\win32\94.0.4606.61\chromedriver.exe] found in cache

### Article Scrape

In [11]:
# set url and visit the mars nasa news site
url ='https://redplanetscience.com'
browser.visit(url)
#optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [12]:
#set up html parser
html= browser.html
news_soup = soup(html,'html.parser')
slide_elem = news_soup.select_one('div.list_text')

In [13]:
slide_elem.find('div', class_='content_title')

In [ ]:
# add get_text() to return only the text of that element

In [16]:
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

"Meet the People Behind NASA's Perseverance Rover"

In [20]:
# use parent element to find paragraph text
news_p = slide_elem.find('div', class_='article_teaser_body').get_text()
news_p

"These are the scientists and engineers who built NASA's next Mars rover and who will guide it to a safe landing in Jezero Crater. "

### Featured Images

In [21]:
# visit url
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [22]:
# find and click 'full image' button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [23]:
# parse image with bsoup
html = browser.html
img_soup = soup(html, 'html.parser')

In [26]:
# find relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
# use base url to create absolute url
img_url = f'spaceimages-mars.com/{img_url_rel}'
img_url

'spaceimages-mars.com/image/featured/mars3.jpg'

### Scrape Mars Data

In [29]:
# read html table into dataframe
df = pd.read_html('https://galaxyfacts-mars.com')[0]
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [30]:
# push dataframe into html format
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [31]:
# end session
browser.quit()